{% extends 'base.html' %}
{% block content %}
<br/>
{% if user.is_authenticated %}
<h1>DJANGO CRM</h1>
<br/>
<h3>CUSTOMER RECORDS</h3>
<br/>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Email</th>
      <th scope="col">phone</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">state</th>
      <th scope="col">zipcode</th>
      <th scope="col">id</th>
    </tr>
  </thead>
  <tbody>
    {% if records %}
      {% for record in records %}
        <tr>
          <td>{{record.first_name}} {{record.last_name}}</td>
          <td>{{record.email}}</td>
          <td>{{record.phone}}</td>
          <td>{{record.address}}</td>
          <td>{{record.city}}</td>
          <td>{{record.state}}</td>
          <td>{{record.zipcode}}</td>
          <td><a href="{% url 'record' record.id %}"> {{record.id}} </a></td>
        </tr>
      
      {% endfor %}
    {%endif%}

  </tbody>
</table>

{% else %}
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">username</label>
          <input type="text" class="form-control"  name="username" required>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">login</button>
      </form>
</form>

{% endif %}
{% endblock %}


